!!! 5
%html
  %head
    %title O$P$
  %body
    %div{ 'data-bind' => 'component: "cpf-education-loan-calculator"' }
    %script{:src => 'https://cdnjs.cloudflare.com/ajax/libs/require.js/2.2.0/require.js', 'data-main' => 'js/main.js'}
